<a href="https://colab.research.google.com/github/karuguduncan/hamoyekaruguduncan/blob/main/Karuguduncanfoodbalancesheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
url = 'https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv '
df = pd.read_csv(url,encoding='latin-1')
# Dataset is now stored in a Pandas Dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [ ]:
#what is the mean and standard deviation across the dataset for the year 2017 to two decimal places
year_2017=df['Y2017'].describe()
print(year_2017)

count     59437.000000
mean        140.917765
std        1671.862359
min       -1582.000000
25%           0.000000
50%           0.100000
75%           9.000000
max      190873.000000
Name: Y2017, dtype: float64

In [ ]:
#How would you check for  the number of rows and column in a pandas DataFrame named df
df.shape

(60943, 12)

In [ ]:
#Question 2 what is the total number and percentage of missing data in 2014 to 3 decimal places
number_of_missing_data_2014= df['Y2014'].isna().sum()
print(number_of_missing_data_2014)

1589

In [ ]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [ ]:
S=[['him','sell'],[90,28,43]]
S[0][1][1]

'e'

In [ ]:
# What is the total Protein supply quantity in Madagascar in 2015
import pandas as pd
url = 'https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv '
df = pd.read_csv(url,encoding='latin-1')
Protein_supply_madagacar= df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]
total_protein_supply_2015 = Protein_supply_madagacar['Y2015'].sum()
print(total_protein_supply_2015)

173.04999999999998

In [ ]:
import pandas as pd
url = 'https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv '
df = pd.read_csv(url,encoding='latin-1')
Unique_country=df['Area'].unique()

print(Unique_country)

['Algeria' 'Angola' 'Benin' 'Botswana' 'Burkina Faso' 'Cabo Verde'
 'Cameroon' 'Central African Republic' 'Chad' 'Comoros' 'Congo'
 "Côte d'Ivoire" 'Djibouti' 'Egypt' 'Eswatini' 'Ethiopia' 'Ethiopia PDR'
 'Gabon' 'Gambia' 'Ghana' 'Guinea' 'Guinea-Bissau' 'Kenya' 'Lesotho'
 'Liberia' 'Madagascar' 'Malawi' 'Mali' 'Mauritania' 'Mauritius' 'Morocco'
 'Mozambique' 'Namibia' 'Niger' 'Nigeria' 'Rwanda' 'Sao Tome and Principe'
 'Senegal' 'Seychelles' 'Sierra Leone' 'South Africa' 'Sudan'
 'Sudan (former)' 'Togo' 'Tunisia' 'Uganda' 'United Republic of Tanzania'
 'Zambia' 'Zimbabwe']

In [ ]:
my_tuppy= (1,2,5,8)
my_tuppy[2]=6

TypeError: 'tuple' object does not support item assignment

In [2]:
# which year had the least correlation with element code
import pandas as pd
url = 'https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv '
df = pd.read_csv(url,encoding='latin-1')
correlation = df[['Y2014','Y2015','Y2016','Y2017','Y2018']]
correlation_by_Year=correlation.corrwith(df['Element Code'])
least_correlated_Year = correlation_by_Year.abs().idxmin()
least_correlation_value = correlation_by_Year.abs().min()
print("Least correlated column with Element Code:", least_correlated_Year)
print("Correlation value:", least_correlation_value)

Least correlated column with Element Code: Y2016
Correlation value: 0.023443997584961424

In [ ]:
#What is the total sum of wine produced in 2015 and 2018 respectively
#hint perform a groupby sum aggregation on 'Item'
wine_produced= df[df['Item']=='Wine']
wine_produced_2015= wine_produced['Y2015'].sum()
wine_produced_2018=wine_produced['Y2018'].sum()
print('Wine produced Year 2015 Amounts    ',wine_produced_2015)
print('Wine produced Year 2018 Amounts    ',wine_produced_2018)

Wine produced Year 2015 Amounts     4251.8099999999995
Wine produced Year 2018 Amounts     4039.3199999999997

In [ ]:
#Perform a groupby operation on 'Element'.What is the total number of the sum of Processing in 2017
Processing_in_2017=df[df['Element']=='Processing']
sum_processing_2017= Processing_in_2017['Y2017'].sum()
print('Processing in year 2017 is   ',sum_processing_2017)

Processing in year 2017 is    292836.0

In [ ]:
# Select columns ''Y2017' and 'Area' perform a groupby aperation on 'Area'.
# Which of these areas had the 7th lowest sum in 2017
Area =df.groupby('Area')['Y2017'].max()
Area_large_to_small = Area.sort_values(ascending=True)
print(Area_large_to_small)

Area
Ethiopia PDR                        0.00
Sudan (former)                      0.00
Comoros                            16.65
Seychelles                        204.02
Guinea-Bissau                    2233.00
Botswana                         2341.00
Sao Tome and Principe            2407.00
Namibia                          2465.00
Lesotho                          2475.00
Cabo Verde                       2530.00
Gambia                           2544.00
Gabon                            2640.00
Djibouti                         2664.00
Mauritius                        3713.00
Central African Republic         4596.00
Liberia                          4702.00
Congo                            5111.00
Eswatini                         5553.00
Sierra Leone                     7488.00
Togo                             7698.00
Benin                           11175.00
Tunisia                         11433.00
Rwanda                          11981.00
Guinea                          12068.00
Zimbabwe                        14237.00
Chad                            15017.00
Senegal                         15419.00
Zambia                          16854.00
Malawi                          17670.00
Mali                            18512.00
Burkina Faso                    19193.00
Niger                           21602.00
Côte d'Ivoire                   24437.00
Cameroon                        24566.00
Madagascar                      25571.00
Mozambique                      28649.00
Ghana                           29121.00
Angola                          29817.00
Morocco                         38348.00
Sudan                           40813.00
Uganda                          41167.00
Algeria                         41389.00
Kenya                           50221.00
Mauritania                      51864.00
United Republic of Tanzania     54660.00
South Africa                    57010.00
Egypt                           96443.00
Ethiopia                       106400.00
Nigeria                        190873.00
Name: Y2017, dtype: float64

In [ ]:
# Select columns ''Y2017' and 'Area' perform a groupby aperation on 'Area'.
# Which of these areas had the highest sum in 2017
Area =df.groupby('Area')['Y2017'].max()
Area_large_to_small = Area.sort_values(ascending=False)
print(Area_large_to_small)

Area
Nigeria                        190873.00
Ethiopia                       106400.00
Egypt                           96443.00
South Africa                    57010.00
United Republic of Tanzania     54660.00
Mauritania                      51864.00
Kenya                           50221.00
Algeria                         41389.00
Uganda                          41167.00
Sudan                           40813.00
Morocco                         38348.00
Angola                          29817.00
Ghana                           29121.00
Mozambique                      28649.00
Madagascar                      25571.00
Cameroon                        24566.00
Côte d'Ivoire                   24437.00
Niger                           21602.00
Burkina Faso                    19193.00
Mali                            18512.00
Malawi                          17670.00
Zambia                          16854.00
Senegal                         15419.00
Chad                            15017.00
Zimbabwe                        14237.00
Guinea                          12068.00
Rwanda                          11981.00
Tunisia                         11433.00
Benin                           11175.00
Togo                             7698.00
Sierra Leone                     7488.00
Eswatini                         5553.00
Congo                            5111.00
Liberia                          4702.00
Central African Republic         4596.00
Mauritius                        3713.00
Djibouti                         2664.00
Gabon                            2640.00
Gambia                           2544.00
Cabo Verde                       2530.00
Lesotho                          2475.00
Namibia                          2465.00
Sao Tome and Principe            2407.00
Botswana                         2341.00
Guinea-Bissau                    2233.00
Seychelles                        204.02
Comoros                            16.65
Ethiopia PDR                        0.00
Sudan (former)                      0.00
Name: Y2017, dtype: float64

In [3]:
#Perform a groupby operation on Element.
# What year has the highest sum of Stock Variation
Stock_Variation =df[df['Element']=='Stock Variation']
Stock_Variation_2014=Stock_Variation ['Y2014'].sum()
Stock_Variation_2015= Stock_Variation['Y2015'].sum()
Stock_Variation_2016= Stock_Variation['Y2016'].sum()
Stock_Variation_2017= Stock_Variation['Y2017'].sum()
Stock_Variation_2018= Stock_Variation['Y2018'].sum()
print('Stock variation year 2014 is   ',Stock_Variation_2014)
print('Stock variation year 2015 is   ',Stock_Variation_2015)
print('Stock variation year 2016 is   ',Stock_Variation_2016)
print('Stock variation year 2017 is   ',Stock_Variation_2017)
print('Stock variation year 2018 is   ',Stock_Variation_2018)

Stock variation year 2014 is    58749.83
Stock variation year 2015 is    34910.990000000005
Stock variation year 2016 is    33140.12
Stock variation year 2017 is    54316.91
Stock variation year 2018 is    20577.91